.header {
  height: 40px;
  background-color: rgba(150, 10, 10, 0.534);
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 20px;
  justify-content: left;
}
